@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

:root {
  --b-radius: 5px;
  --accent-color: #fdcbcb;
  --ui-color: lightgray;
  --border: 1px solid var(--ui-color);
  --padding: 0.9em 3.333em;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

header {
  border-bottom: var(--border);
}

footer {
  border-top: var(--border);
  padding: 1.143em 2em;
  color: #7c7c7c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #7c7c7c;
  padding: 0.286em 0.57em;
  cursor: pointer;
}

.title {
  text-align: center;
  font-family: "Quicksand", serif;
  font-weight: 300;
  font-size: 8rem;
  color: var(--accent-color);
}

.widget {
  width: 60vw;
  background-color: white;
  border: var(--border);
  border-radius: var(--b-radius);
  box-shadow: 4px 4px 4px #0000001a;
}

.input__form, .input {
  width: 100%;
}

.input {
  border: 0;
  padding: var(--padding);
  font-family: 'Open Sans', serif;
  font-size: 1.8rem;
  position: relative;
  color: darkgrey;
}

.input__form {
  position: relative;
  display: flex;
  align-items: center;
}

.input__form::before, .task:is(.done)::before {
  content: '';
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 1.111em;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.input__form::before {
  background-image: url('./assets/arrow.svg');
  width: 1.111em;
  opacity: 0.3;
}

.input::placeholder {
  color: var(--ui-color);
}

.tasks {
  cursor: pointer;
}

.task {
  padding: var(--padding);
  word-break: break-word;
}

.task:is(.done) {
  color: var(--ui-color);
  text-decoration: line-through;
  display: flex;
  align-items: center;
  position: relative;
}

.task:is(.done)::before {
  background-image: url('./assets/done.svg');
  width: 1.333em;
}

.task:not(:last-child) {
  border-bottom: 1px solid var(--ui-color);
}

.options {
  display: flex;
  gap: 1rem;
}

.active {
  border: 1px solid var(--accent-color);
  border-radius: var(--b-radius);
}

@media (min-width: 769px) {
  html {
    font-size: 10px;
  }

  .widget {
    width: 60vw;
  }
}

@media (max-width: 768px) {
  html {
    font-size: 8px;
  }

  .widget {
    width: 80vw;
  }
}

@media (max-width: 480px) {
  .widget {
    width: 90vw;
  }

  footer {
    flex-direction: column-reverse;
  }
}

@media (max-width: 320px) {
  html {
    font-size: 3vw;
  }

  .input::placeholder {
    font-size: 1.5rem;
  }
}