@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap');

*, *::before, *::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  margin: 0;
  width: 100vw;
  min-height: 100vh;
  background-color: #f5f5f5;
  display: flex;
  justify-content: center;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-style: normal;
  font-size: 1.8rem;
}

header {
  border-bottom: 1px solid lightgray;
}

footer {
  border-top: 1px solid lightgray;
  padding: 15px 30px;
  color: #7c7c7c;
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 1.4rem;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

button {
  background-color: transparent;
  border: 0;
  font-family: 'Open Sans', serif;
  font-weight: 400;
  font-size: 1.4rem;
  color: #7c7c7c;
  padding: 4px 8px;
  cursor: pointer;
}

.title {
  text-align: center;
  font-family: "Quicksand", serif;
  font-weight: 300;
  font-size: 8rem;
  color: #fdcbcb;
}

.widget {
  width: 60vw;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  box-shadow: 4px 4px 4px #0000001a;
}

.input__form, .input {
  width: 100%;
}

.input {
  border: 0;
  padding: 20px 60px;
  font-family: 'Open Sans', serif;
  font-size: 1.8rem;
  position: relative;
}

.input::placeholder {
  color: lightgray;
}

.tasks {
  cursor: pointer;
}

.task {
  padding: 20px 60px;
}

.task:is(.done) {
  color: lightgray;
  text-decoration: line-through;
  display: flex;
  align-items: center;
  position: relative;
}

.task:is(.done)::before {
  content: '';
  background-image: url('./assets/done.svg');
  width: 24px;
  aspect-ratio: 1 / 1;
  position: absolute;
  left: 20px;
}

.task:not(:last-child) {
  border-bottom: 1px solid lightgray;
}

.options {
  display: flex;
  gap: 1rem;
}

.active {
  border: 1px solid #fdcbcb;
  border-radius: 5px;
}